<!DOCTYPE html>
<html>
<head>
	<title>TechnologySelect</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tachyons@4.12/css/tachyons.min.css">
	<link rel="stylesheet" href="style.css">

	<script src="https://cdn.jsdelivr.net/npm/ramda@0.27/dist/ramda.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react@17.0/umd/react.development.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-dom@17.0/umd/react-dom.development.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/prop-types@15.7/prop-types.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-dom-factories@1.0/index.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/seamless-immutable@7.1/seamless-immutable.development.js"></script>

	<script src="TechnologySelect.viewtest.js" type="module"></script>
</head>
<body>
	<h2>All</h2>
	<div id="panel1"></div>
	<h2>Engineering</h2>
	<div id="panel2"></div>
	<h2>Physics</h2>
	<div id="panel3"></div>
	<h2>Society</h2>
	<div id="panel4"></div>
</body>

</html>