<!DOCTYPE html>
<html>
  <head>
    <title>TierPanel</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tachyons@4.12/css/tachyons.min.css"
    />
    <link rel="stylesheet" href="./style.css" />

    <script src="https://cdn.jsdelivr.net/npm/ramda@0.27/dist/ramda.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/react@17.0/umd/react.development.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/react-dom@17.0/umd/react-dom.development.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prop-types@15.7/prop-types.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/react-dom-factories@1.0/index.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/jmthompson2015/react-components/dist/react-components.js"></script>

    <script src="TierPanel.viewtest.js" type="module"></script>
  </head>
  <body>
    <div class="dt">
      <div class="dt-row">
        <div id="physicsPanel" class="dtc mh0 pa2"></div>
        <div id="societyPanel" class="dtc mh0 pa2"></div>
        <div id="engineeringPanel" class="dtc mh0 pa2"></div>
      </div>
    </div>
  </body>
</html>
