body {
  background-color: Gainsboro;
  font-family: "San Francisco", "Helvetica Neue", Helvetica, sans-serif;
}

.frt-filter {
  background: RoyalBlue;
  font-size: x-small;
  padding: 2px;
}

.frt-filter .buttons {
  float: right;
  font-size: small;
}

.frt-filter .button-panel {
  padding: 2px;
  text-align: center;
}

.frt-filter .field {
  width: 100px;
}

.frt-filter .title {
  font-size: large;
  font-weight: bold;
  padding: 2px;
  text-align: left;
}

.frt-rowCount {
  font-size: small;
  padding-top: 10px;
  text-align: left;
}

.frt-table {
  border-collapse: collapse;
  font-size: small;
  text-align: center;
}

.frt-table td {
  border: 1px solid RoyalBlue;
}

.frt-table th {
  background: RoyalBlue;
  border: 1px solid White;
  color: White;
}

.frt-table tbody tr:nth-child(2n) td {
  background: #f0f0ff;
}

.frt-table tbody tr:nth-child(2n + 1) td {
  background: White;
}